@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

 *{
  margin: 0;
  padding: 0;
 }
 
 html{
     width: 100vw;
     height: 100vh;
 }
 
 body {
  text-align: center;
  font-family: 'Exo', sans-serif;
  background-color: rgb(211,211,211);
}

  .title { 
   font-size: 3rem;
   font-weight: bold;
   margin-top: 2rem;
   margin-bottom: 1.2rem;
   color: rgb(219, 16, 16);
   -webkit-animation: glow 1s ease-in-out infinite alternate; }  

 .text {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
 }

.form {
  margin-bottom: 1rem;
}

 @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #850202, 0 0 40px #850202, 0 0 50px #850202, 0 0 60px #850202, 0 0 70px #850202;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000;
  }
}